<!DOCTYPE html5>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>VUE LAB</title>
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
	<!-- <script src="https://unpkg.com/vue"></script> -->
	<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
	<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
</head>

<body>
	<div id="app">
		<div class="card-body">

		<div>
			<b-card
				title="Card Title"
				img-src="https://picsum.photos/600/300/?image=25"
				img-alt="Image"
				img-top
				tag="article"
				style="max-width: 20rem;"
				class="mb-2"
			>
				<b-card-text>
				Some quick example text to build on the card title and make up the bulk of the card's content.
				</b-card-text>
			
				<b-button href="#" variant="primary">Go somewhere</b-button>
			</b-card>
			</div>	
					
			<div>
				<b-card title="Card title" sub-title="Card subtitle">
					<b-card-text>
					Some quick example text to build on the <em>card title</em> and make up the bulk of the card's
					content.
					</b-card-text>
					<b-card-text>A second paragraph of text in the card.</b-card-text>
					<a href="#" class="card-link">Card link</a>
					<b-link href="#" class="card-link">Another link</b-link>
				</b-card>
			</div>	

			<form @submit="formSubmit">
				<div style="float: left ;width: 40%">
					<strong>Name first:</strong>
					<input type="text" class="form-control" v-model="fname" >						
				</div>
				<div style="float: left ;width: 60%;padding-left: 5px">
					<strong>Name last:</strong>
					<input type="text" class="form-control" v-model="lname" >						
				</div>	
				<div style="float:left;width:100%">
					<strong>Description:</strong>
					<textarea class="form-control" v-model="description"></textarea>
					<strong>ROW0:</strong>
					<b-form-select class="form-control" v-model="row" :options="options"></b-form-select>
					<div>row: <strong>{{ row }}</strong></div>
					<strong>ROW:</strong>
					<input type="text" class="form-control" v-model="row">
					<br/>
					<button class="btn btn-success">Submit</button>
				</div>
			</form>
		</div>

		<!-- <div>
			<b-form-select v-model="selected" :options="options"></b-form-select>
			<b-form-select v-model="selected" :options="options" size="sm" class="mt-3"></b-form-select>
			<div class="mt-3">Selected: <strong>{{ selected }}</strong></div>
		</div> -->

		<div style="float:left">
			<ol>
				<li v-for="ii in info.data">
					{{ii}}
				</li>
			</ol>
		</div>
	</div>

	<script>
		new Vue({
			el: '#app',
			data() {
				return {
					row: 0,
					msg: 12,
					msg1: 2,
					info: 0,
					name:"",
					description:"",

					selected: null,
					options: [
					{ value: null, text: 'Please select an option' },
					{value:1,text:"one"},
					{ value: 3, text: 'three' },
					{ value: 6, text: 'sx' },
					{ value: { C: '3PO' }, text: 'This is an option with object value' },
					{ value: 'd', text: 'This one is disabled', disabled: true }
					]
				}
			},
			methods: {
				formSubmit(e) {
					e.preventDefault();
					axios
					.get('http://www.vietthuan.com:8080', {
						params: {
							username: "hsiung",
							password: "223344",
							row: this.row,
						}
					})
					.then(response => (this.info = response))
					.catch(function (error) { // 请求失败处理
						console.log(error);
					});
				}},
			mounted() {
				axios
					.get('http://www.vietthuan.com:8080', {
						params: {
							username: "hsiung",
							password: "223344",
							row: this.row,
						}
					})
					.then(response => (this.info = response))
					.catch(function (error) { // 请求失败处理
						console.log(error);
					});
			}
		})
	</script>
</body>

</html>