<!DOCTYPE html5>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>VUE LAB</title>
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
	<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
</head>

<body>
	<div id="app">
		<div class="card-body" style="float: left">
			<form @submit="formSubmit">
				<strong>First Name:</strong>
				<input type="text" class="form-control" v-model="fname" style="width:25%">
				<strong>Last Name:</strong>						
				<input type="text" class="form-control" v-model="lname" style="width:50%">					
				<strong>Description:</strong>
				<textarea class="form-control" v-model="description"></textarea>
				<strong>ROW:</strong>
				<input type="text" class="form-control" v-model="row">
				<br/>
				<button class="btn btn-success">Submit</button>
			</form>
		</div>
		<div class="card-body" style="float: left">
			{{msg}}<br /> {{msg1}} <br /> {{msg*msg1}}
		</div>
		<div  class="card-body" style="float: left">
			<ol>
				<li v-for="ii in info.data">
					{{ii}}
				</li>
			</ol>
		</div>
	</div>

	<script>
		new Vue({
			el: '#app',
			data() {
				return {
					row: 6,
					msg: 12,
					msg1: 2,
					info: 0,
					name:"",
					description:"",
				}
			},
			methods: {
				formSubmit(e) {
					e.preventDefault();
					// let currentObj = this;
					// this.axios.get('http://localhost:8000/yourPostApi', {
					//     name: this.name,
					//     description: this.description
					// })
					// .then(function (response) {
					//     currentObj.output = response.data;
					// })
					// .catch(function (error) {
					//     currentObj.output = error;
					// });
					axios
					.get('http://www.vietthuan.com:8080', {
						params: {
							username: "hsiung",
							password: "223344",
							row: this.row,
						}
					})
					.then(response => (this.info = response))
					.catch(function (error) { // 请求失败处理
						console.log(error);
					});
				}},
			mounted() {
				axios
					.get('http://www.vietthuan.com:8080', {
						params: {
							username: "hsiung",
							password: "223344",
							row: this.row,
						}
					})
					.then(response => (this.info = response))
					.catch(function (error) { // 请求失败处理
						console.log(error);
					});
			}
		})
	</script>
</body>

</html>